.flag {
  width: 600px;
  height: 400px;
  background-color: white;
  border: 3px solid black;
  display: flex;
  align-items: center;
}

.circle {
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: red;
  margin: auto;
}
