.list-group {
  background-color: white;
  list-style: none;
  width: 450px;
  padding: 0;
}

.list-group li {
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 12px 15px;
}

.list-group-item a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.list-group li:hover {
  background-color: #0d6efd;
  color: aliceblue;
  margin: 0;
  border-color: #0d6efd;
}

.list-group li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-group li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-group li:nth-child(2) {
  border-bottom: none;
  border-top: none;
}

.list-group li:hover a {
  color: white;
}

.list-group-item:has(+.list-group-item:hover) {
  border-bottom: 0px;
}

.list-group-item:hover+.list-group-item {
  border-top: 0px;
}

.list-group-item:nth-child(2):hover {
  border-bottom: 1px solid #0d6efd;
  border-top: 1px solid #0d6efd;
}
